@import 'vars.scss';

#main-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    grid-gap: $gap;
    padding: $gap;
    box-shadow: $shad;

    a {
        display: block;
        text-decoration: none;
        position: relative;
        font-weight: bold;
        color: $accent;
        padding: 5px;
        border-radius: 2px;
        text-align: center;

        &::before {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background-color: $accent;
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: all .25s ease;
        }
        
        &:hover::before {
            width: 100%;
        }
    }
}